<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.glsp.integration.editor.GLSPDiagramEditorPart"
            default="true"
            extensions="wf"
            id="org.eclipse.glsp.workflow.editor"
            name="Workflow Diagram Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.glsp.editor.integration">
      <configuration
            editorId="org.eclipse.glsp.workflow.editor"
            glspId="workflow"
            serverManagerClass="org.eclipse.glsp.integration.workflow.editor.WorkflowServerManager">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.glsp.workflow.editor">
         <dynamic
               class="org.eclipse.glsp.integration.editor.ui.GLSPDynamicContribution"
               id="org.eclipse.glsp.integration.editor.actionprovider">
         </dynamic>
      </menuContribution>
   </extension>
	<extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="com.avl.mdml.glsp.diagram.export"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="A">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.eclipse.glsp.integration.editor.handlers.SelectAllHandler"
             commandId="org.eclipse.ui.edit.selectAll">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.glsp.workflow.editor">
                </equals>
             </with>
          </activeWhen>
       </handler>
       <handler
             class="org.eclipse.glsp.integration.editor.handlers.SaveHandler"
             commandId="org.eclipse.ui.file.save">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.glsp.workflow.editor">
                </equals>
             </with>
          </activeWhen>
       </handler>
       <handler
             class="org.eclipse.glsp.integration.editor.handlers.UndoHandler"
             commandId="org.eclipse.ui.edit.undo">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.glsp.workflow.editor">
                </equals>
             </with>
          </activeWhen>
       </handler>
       <handler
             class="org.eclipse.glsp.integration.editor.handlers.RedoHandler"
             commandId="org.eclipse.ui.edit.redo">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.glsp.workflow.editor">
                </equals>
             </with>
          </activeWhen>
       </handler>
    </extension>
</plugin>
