<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.glsp.ide.editor">
      <configuration
            editorId="org.eclipse.glsp.workflow.editor"
            glspId="workflow"
            serverManagerClass="org.eclipse.glsp.ide.workflow.editor.WorkflowServerManager">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.glsp.ide.editor.ui.GLSPDiagramEditorPart"
            default="true"
            extensions="wf"
            id="org.eclipse.glsp.workflow.editor"
            name="Workflow Diagram Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.glsp.workflow.editor">
         <separator
               name="org.eclipse.glsp.integration.workflow.editor.edit_start">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.cut"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
         <separator
               name="org.eclipse.glsp.integration.workflow.editor.edit_end">
         </separator>
         <dynamic
               class="org.eclipse.glsp.ide.editor.ui.GLSPDynamicContribution"
               id="org.eclipse.glsp.ide.editor.actionprovider">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.glsp.ide.diagram">
         <menu
               label="Navigate">
            <command
                  commandId="org.eclipse.glsp.ide.workflow.editor.navigate.next-node"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.glsp.ide.workflow.editor.navigate.previous-node"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.glsp.ide.workflow.editor.navigate.documentation"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.glsp.ide.workflow.editor.navigate.by-name"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.glsp.workflow.editor">
                </equals>
             </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
	<extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.eclipse.glsp.diagram.export"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="A">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.eclipse.glsp.ide.editor.handlers.SelectAllHandler"
             commandId="org.eclipse.ui.edit.selectAll">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.glsp.workflow.editor">
                </equals>
             </with>
          </activeWhen>
       </handler>
       <handler
             class="org.eclipse.glsp.ide.editor.handlers.SaveHandler"
             commandId="org.eclipse.ui.file.save">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.glsp.workflow.editor">
                </equals>
             </with>
          </activeWhen>
       </handler>
       <handler
             class="org.eclipse.glsp.ide.editor.handlers.UndoHandler"
             commandId="org.eclipse.ui.edit.undo">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.glsp.workflow.editor">
                </equals>
             </with>
          </activeWhen>
       </handler>
       <handler
             class="org.eclipse.glsp.ide.editor.handlers.RedoHandler"
             commandId="org.eclipse.ui.edit.redo">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.glsp.workflow.editor">
                </equals>
             </with>
          </activeWhen>
       </handler>
       <handler
             class="org.eclipse.glsp.ide.editor.handlers.CopyHandler"
             commandId="org.eclipse.ui.edit.copy">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.glsp.workflow.editor">
                </equals>
             </with>
          </activeWhen>
       </handler>
       <handler
             class="org.eclipse.glsp.ide.editor.handlers.CutHandler"
             commandId="org.eclipse.ui.edit.cut">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.glsp.workflow.editor">
                </equals>
             </with>
          </activeWhen>
       </handler>
       <handler
             class="org.eclipse.glsp.ide.editor.handlers.PasteHandler"
             commandId="org.eclipse.ui.edit.paste">
          <activeWhen>
             <with
                   variable="activePartId">
                <equals
                      value="org.eclipse.glsp.workflow.editor">
                </equals>
             </with>
          </activeWhen>
       </handler>
    </extension>
      <extension
          point="org.eclipse.ui.commands">
       <command
             categoryId="org.eclipse.glsp"
             defaultHandler="org.eclipse.glsp.ide.workflow.editor.NavigateToNextNodeHandler"
             description="Navigates to the next Task node"
             id="org.eclipse.glsp.ide.workflow.editor.navigate.next-node"
             name="Go to Next Node">
       </command>
       <command
             categoryId="org.eclipse.glsp"
             defaultHandler="org.eclipse.glsp.ide.workflow.editor.NavigateToPreviousNodeHandler"
             description="Navigates to the previous Task node"
             id="org.eclipse.glsp.ide.workflow.editor.navigate.previous-node"
             name="Go to Previous Node">
       </command>
       <command
             categoryId="org.eclipse.glsp"
             defaultHandler="org.eclipse.glsp.ide.workflow.editor.NavigateToNodeDocumentationHandler"
             description="Navigates to the documentation"
             id="org.eclipse.glsp.ide.workflow.editor.navigate.documentation"
             name="Go to Documentation">
       </command>
       <command
             categoryId="org.eclipse.glsp"
             defaultHandler="org.eclipse.glsp.ide.workflow.editor.NavigateToNodeByNameHandler"
             description="Navigates to the task with the given name"
             id="org.eclipse.glsp.ide.workflow.editor.navigate.by-name"
             name="Go to Task by Name">
       </command>
	</extension>
</plugin>
