<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="2022-12 - Default" sequenceNumber="1697450966">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.26.0.v20221123-2302"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.32.0.v20221121-1400"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="1.13.0.202208110935"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.1900.v20221108-1024"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.1200.v20221111-1340"/>
      <repository location="http://download.eclipse.org/releases/2022-12"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jetty.websocket.javax.server" version="10.0.13"/>
      <repository location="mvn:org.eclipse.jetty:jetty-p2:10.0.13:zip:p2site"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.glsp.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.glsp.feature.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.glsp.server.websocket" version="0.0.0"/>
      <unit id="org.eclipse.glsp.layout" version="0.0.0"/>
      <unit id="org.eclipse.glsp.example.workflow" version="0.0.0"/>
      <repository location="https://download.eclipse.org/glsp/server/p2/releases/2.0.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.elk.core" version="0.8.1"/>
      <unit id="org.eclipse.elk.graph" version="0.8.1"/>
      <unit id="org.eclipse.elk.graph.text" version="0.8.1"/>
      <unit id="org.eclipse.elk.alg.layered" version="0.8.1"/>
      <repository location="https://download.eclipse.org/elk/updates/releases/0.8.1/"/>
    </location>
  </locations>
</target>
