<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension-point id="org.eclipse.glsp.ide.editor" name="Eclipse GLSP editor configuration" schema="schema/com.eclipse.glsp.ide.editor.exsd"/>
    <extension point="org.eclipse.ui.commands">
        <category
            id="org.eclipse.glsp"
            name="GLSP">
        </category>
    </extension>
    <extension
          id="org.eclipse.glsp.ide.marker.problem"
          name="GLSP Diagram Problem"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
    </extension>
</plugin>
